html {
    background: #323232;
    min-height:100%;
    overflow:hidden;
}

body {
    height: calc(100vh - 8em);
    padding:4em;
    color:rgba(255,255,255,0.80);
    font-family: 'Courier New', Courier, monospace;
}

.line {
    position: relative;
    top:50%;
    width:24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,0.80);
    font-size: 200%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.tw {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width:0;
    }
    to {
        width:24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255,255,255,0.80);
    }
    to {
        border-right-color: transparent;
    }
}